div(class="container mtb")
    .row(class="text-center", style="min-height:400px")
        img(ng-src="/image/{{image.code}}.{{image.extension}}")
        br
        br
        span {{image.code}}.{{image.extension}} - {{image.size | bytes}}
        br
        br
        a(style="font-size:15px" class="btn btn-lg btn-success" ng-href="http://localhost:3030/d/{{image.code}}.{{image.extension}}" onclick="var that=this;setTimeout(function(){location.href=that.href;}, 200);return false;")
            span(class="glyphicon glyphicon-download-alt")
            | &nbsp Download Image
        br
        br
        input(type="text", onClick="this.select();", ng-click="showBadge = !showBadge" class="form-control text-center" style="float:none !important; width: 230px; margin: 0 auto;" value="http://i2n.me/{{image.code}}.{{image.extension}}")
        br
        .center-block
            span Share in social networks:
            a(href="#" style="padding-right: 5px;padding-left: 10px;vertical-align: -webkit-baseline-middle;")
                i(id="social" class="fa fa-facebook fa-3x")
            a(href="#" style="padding-right: 5px;padding-left: 5px;vertical-align: -webkit-baseline-middle;")
                i(class="fa fa-vk fa-3x" id="social")
            a(href="#" style="padding-right: 5px;padding-left: 5px;vertical-align: -webkit-baseline-middle;" )
                i(class="fa fa-twitter fa-3x" id="social")
            a(href="#" style="padding-right: 5px;padding-left: 5px;vertical-align: -webkit-baseline-middle;")
                i(class="fa fa-instagram fa-3x" id="social")


