div(id="blue", style="padding-bottom: 15px;margin-bottom: 20px;")
   .container
       .row
           button(role="button", class="btn btn-success btn-lg", style="margin-left:15px", ng-click="openFileDialog()", ng-disabled="isUploading")
                span(class="glyphicon glyphicon-upload" ng-hide="isUploading")
                | &nbsp {{uploadText}}
           form(class="hidden")
                input(type="file", id="file-upload", file-input="files", class="hidden", multiple)
           button(role="button", class="btn btn-warning btn-lg disabled", style="margin-left:15px", ng-class="canRemove ? '' : 'disabled'", ng-click="removeSelected()")
                span(class="glyphicon glyphicon-remove-circle")
                | &nbsp Remove
div(class="container mtb" style="margin-top: 20px;")
    div(class="row")
        div(class="col-sm-5 col-md-3 fader-animation" ng-repeat="image in images")
            div(class="thumbnail" ng-class="image.selected ? 'thumbnail-selected' : ''")
                span(class="select-image glyphicon", ng-click="toggleSelect(image)", ng-class="image.selected ? 'glyphicon-check' : 'glyphicon-unchecked'")
                div(style="width:200px;height:200px;margin:0 auto;position:relative")
                    a(href="#/img/{{image.code}}" style="display: table-cell; width: 200px;height:200px;vertical-align:middle")
                        img(ng-src="/image/thumb/{{image.code}}.{{image.extension}}")
                div(class="caption", style="padding: 5px;")
                    div(class="btn-toolbar", style="margin-left:0px;margin-right:0px;margin-top:5px")
                        div(class="dropdown dropup btn-group")
                            em(class='small', style="float: left;margin-top: 6px;") July, 07 - {{image.size | bytes}}
                        div(class="dropdown dropup btn-group pull-right")
                            button(class="btn btn-primary dropdown-toggle btn-sm", type="button", id="dropdownMenu1", data-toggle="dropdown")
                                | Menu &nbsp;
                                span(class="caret")
                                span(class="sr-only") Toggle Dropdown
                            ul(class="dropdown-menu" role="menu")
                                li(role="presentation")
                                    a(role="menuitem", href="http://localhost:3030/d/{{image.code}}.{{image.extension}}", onclick="var that=this;setTimeout(function(){location.href=that.href;}, 200);return false;")
                                        span(class="glyphicon glyphicon-download")
                                        | &nbsp; Download
                                li(role="presentation")
                                    a(role="menuitem", href="", ng-click="remove(image)")
                                        span(class="glyphicon glyphicon-remove-circle")
                                        | &nbsp; Remove
                                li(role="presentation")
                                    a(role="menuitem", href="")
                                        span(class="glyphicon glyphicon-share")
                                        | &nbsp; Get embed code
                                li(role="presentation")
                                    a(role="menuitem", href="")
                                        span(class="glyphicon glyphicon-link")
                                        | &nbsp; Copy short link
    div(class="row", style="min-height:300px", ng-show="images.length === 0")
        div(class="col-lg-8 col-lg-offset-2 centered", style="margin-top:100px")
            h2 Upload images with "Upload Image" button or with Img2Net desktop application.
            br
            div(class="hline")